.div-bg {
  background-color: linen;
  margin: 16px 0; }
  .div-bg p {
    margin: 8px 0;
    padding-left: 8px; }

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  text-align: center; }
  table th,
  table td {
    padding: 8px; }
