.learnhtml-box {
  position: relative;
  top: 100px;
  margin-bottom: 150px;
  z-index: 0; }
  .learnhtml-box .code-container {
    background-color: #272822;
    color: #f8f8f2;
    margin: 16px;
    width: auto;
    border-radius: 10px;
    line-height: 1.4em;
    text-align: left;
    overflow: auto; }
  .learnhtml-box .list-items {
    line-height: 1.4em;
    color: #212121;
    font-size: 16px;
    margin: 0 12px 22px 8px; }
  .learnhtml-box .image-container img {
    width: 100%;
    height: auto;
    margin: 12px 0; }
  .learnhtml-box .output-style {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    line-height: 0.6em; }
