@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

.container, .nav-container, #social-icons {
  width: 80%;
  margin: 0 auto; }

header {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px; }
  .nav-container ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center; }
  .nav-container li {
    justify-content: space-between;
    margin: 8px; }
  .nav-container a {
    text-decoration: none;
    font-size: 16px;
    color: #212121;
    transition: color 0.3s ease-in; }
  .nav-container a.active,
  .nav-container a:hover {
    color: #ee6c4d; }

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo-container .logo {
    width: 50px;
    margin-right: 10px; }

.bg-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1593642531955-b62e17bdaa9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px; }
  .bg-container .bg-content {
    width: 100%; }
    .bg-container .bg-content h2 {
      font-size: 46px;
      margin: 10px; }
    .bg-container .bg-content p {
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: bold;
      color: beige; }

.content-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px 48px; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 10px; }
  .content p {
    line-height: 1.4em;
    color: #212121;
    font-size: 16px;
    margin: 18px 0; }
  .content .start-btn {
    border: 2px solid seashell;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    padding: 12px 18px;
    width: fit-content;
    color: seashell;
    background-color: #ee6c4d;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4); }
  .content .start-btn:hover {
    background-color: #219ebc;
    color: seashell; }
  .content .block-quote {
    border-left: 4px solid #32c4c4;
    margin-left: 24px;
    margin-bottom: 12px;
    padding: 14px 12px; }
  .content ul {
    padding-left: 18px; }
  .content .editor-item {
    font-size: 16px; }
  .content .inner-para {
    margin-top: -14px; }
  .content .bold-text {
    font-weight: 700; }

.content-border {
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4); }

.learnings-box {
  position: relative;
  top: 100px;
  margin-bottom: 150px;
  z-index: 0; }

.logoImg {
  width: 150px;
  height: 150px;
  margin: 12px 0;
  align-self: center; }

#social-icons {
  text-align: center;
  margin-top: 50px; }
  #social-icons .fa-twitter {
    border: 2px solid #00aced;
    color: #00aced;
    border-radius: 100%;
    font-size: 28px;
    line-height: 40px;
    margin: 5px;
    width: 44px; }
  #social-icons .fa-github {
    border: 2px solid #833ab4;
    color: #833ab4;
    border-radius: 100%;
    font-size: 28px;
    line-height: 40px;
    margin: 5px;
    width: 44px; }
  #social-icons .fa-linkedin {
    border: 2px solid #007bb6;
    color: #007bb6;
    border-radius: 100%;
    font-size: 28px;
    line-height: 40px;
    margin: 5px;
    width: 44px; }

.f-links {
  text-align: center; }
  .f-links a {
    color: #771c1c;
    text-decoration: none;
    margin: 0 10px; }
  .f-links .active {
    color: #ee6c4d; }

.copy-rights p {
  text-align: center;
  color: #3d1b1b;
  padding: 20px 0; }

@media screen and (max-width: 720px) {
  .container, .nav-container, #social-icons {
    width: 90%; }
  .nav-container {
    height: 100px;
    padding-top: 8px;
    display: block; }
  .content {
    flex-direction: column; } }
