@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	/* color: #222;
    padding-bottom: 50px; */
}

.nav {
	background-color: #222;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.navcontainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
}

.logocontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 50px;
	margin-right: 10px;
}

.logocontainer h1 {
	color: beige;
}

.navcontainer ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

.navcontainer li {
	justify-content: space-between;
	margin: 10px;
}

.navcontainer a:hover {
	color: rgb(209, 17, 17);
	font-weight: bold;
}

.navcontainer a {
	text-decoration: none;
	color: rgb(228, 228, 80);
}

.content {
	border: 1px solid;
	padding: 10px;
	margin: 20px;
	box-shadow: 5px 10px #888888;
}

p {
	line-height: 1.3em;
}

.bgcontainer {
	background-image: url("https://images.unsplash.com/photo-1593642531955-b62e17bdaa9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(10, 10, 10, 0.5);
	-webkit-mask-image: linear-gradient(to top, black, transparent);
	mask-image: linear-gradient(to top, black, transparent);
	height: 100vh;
	color: rgba(0, 0, 0, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
	z-index: -1;
}

.bgcontent h2 {
	font-size: 46px;
	/* border: 2px solid salmon; */
	mix-blend-mode: multiply;
}

.bgcontent p {
	font-size: 20px;
	letter-spacing: 1px;
}

#social-icons {
	text-align: center;
}

i.fa.fa-facebook,
i.fa.fa-twitter,
i.fa.fa-instagram,
i.fa.fa-linkedin {
	border-radius: 100%;
	font-size: 28px;
	/* height: 42px; */
	line-height: 40px;
	margin: 5px;
	/* text-align: center; */
	width: 44px;
}

i.fa.fa-facebook {
	border: 2px solid #3b5998;
	color: #3b5998;
	/* font-weight :bold; */
}

i.fa.fa-twitter {
	border: 2px solid #00aced;
	color: #00aced;
}

i.fa.fa-instagram {
	border: 2px solid #833ab4;
	color: #833ab4;
}

i.fa.fa-linkedin {
	border: 2px solid #007bb6;
	color: #007bb6;
}

.f-links {
	text-align: center;
}

.f-links a {
	color: rgb(119, 28, 28);
	/* font-weight : 3px; */
}

.copy-rights p {
	text-align: center;
	color: rgb(61, 27, 27);
}

@media screen and (max-width: 600px) {
	.navcontainer ul {
		/* display: flex; */
		flex-direction: column;
		/* list-style-type: none;
        align-items: center;
      justify-content: center; */
		/* flex-wrap: wrap; */
	}

	.navcontainer {
		height: 170px;
	}
}
