.learnhtml-box {
	position: relative;
	top: 100px;
	margin-bottom: 150px;
	z-index: 0;

	.code-container {
		background-color: #272822;
		color: #f8f8f2;
		margin: 16px;
		width: auto;
		border-radius: 10px;
		line-height: 1.4em;
		text-align: left;
		overflow: auto;
	}
	.list-items {
		line-height: 1.4em;
		color: #212121;
		font-size: 16px;
		margin: 0 12px 22px 8px;
	}
	.image-container img {
		//border-radius: 10px;
		width: 100%;
		height: auto;
		margin: 12px 0;
		//border: 2px solid red;
	}
	.output-style {
		padding: 0;
		margin: 0;
		font-size: 0.9rem;
		line-height: 0.6rem;
	}
}

@media screen and (max-width: 720px) {
	// .learnhtml-box {
	// 	.code-container code {
	// 		//position: relative;
	// 		//left: -160px;
	// 	}
	// }
}
